SECRET_KEY=minha-chave-super-secreta-123456789
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30


USER_1_USERNAME=admin
USER_1_PASSWORD=admin123

USER_2_USERNAME=admin
USER_2_PASSWORD=admin123

USER_3_USERNAME=admin
USER_3_PASSWORD=admin123

USER_4_USERNAME=admin
USER_4_PASSWORD=admin123

USER_5_USERNAME=admin
USER_5_PASSWORD=admin123